 <div id="wrapper">
        <h1>MLB Cleat Scraper</h1>
        <div id="articles"></div>
        <div id="comments"></div>
      </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="app.js"></script>